# angular-deployment.yaml
# -----------------------------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: angular-frontend
  namespace: devops
  labels:
    app: angular-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: angular-frontend
  template:
    metadata:
      labels:
        app: angular-frontend
    spec:
      containers:
        - name: angular-frontend
          image: oussemabh1/oussemabenelhaj_4twin2_ang:latest
          ports:
            - containerPort: 80
          # Remove probes temporarily
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "200m"
---
---
apiVersion: v1
kind: Service
metadata:
  name: angular-frontend-service
  namespace: devops 
spec:
  type: NodePort
  selector:
    app: angular-frontend
  ports:
    - protocol: TCP
      port: 80         # Service port
      targetPort: 80   # Container port
      nodePort: 30082  # <-- fix here
